@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: rgb(119, 0, 255);
    --regular-font: "Outfit", sans-serif;
    --logo-font: "Harmattan", sans-serif;
}

body{
    font-family: var(--regular-font);
    background: rgba(248, 244, 255, 0.5);
    color: #222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img,
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input,
button,
textarea,
select{
     outline: none;
     font-family: var(--regular-font);
     border: none;
}

.inner-row{
     width: 1290px;
     margin: auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content .logo{
     height: 70px;
    width: 180px;
    display: flex;
    align-items: center;
}
.header-content .logo h1{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #222;
    font-family: var(--logo-font);
}
.header-content nav,
.header-content nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-content nav ul li a{
    color: #222;
    font-size: 16px;
    font-weight: 360;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    position: relative;;
}

.header-content nav ul li a:hover,
.header-content nav ul li a.active{
    color: var(--main-color);
    font-weight: 400;
}

.header-content nav ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -7px;
    left: 0;
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
}
.header-content nav ul li a:hover::after,
.header-content nav ul li a.active::after{
    width: 100%;
}

.header-btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-btns a.start{
    font-size: 16px;
    color: #222;
    display: flex;;
}
.header-btns a.sales{
     display: flex;
      background: var(--main-color);
      width: 150px;
      height: 50px;
      font-size: 15px;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
}















































@media(max-width: 1300px){
     .inner-row{
            width: 90%;
     }
}